<!-- header start-->
            <div class="header_top pl-130 pr-130">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <ul class="left">
                                <li>58 494 390</li>
                                <li>eliosacademie@gmail.com</li>
                                <li> 24/7</li>
                            </ul>
                            <ul class="right">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

