<section class="join_courses_area">
  <div class="container">
    <div class="js_wrap white_bg">
      <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
          <div class="js_text">
            <div class="sec_title sec_title-2 text-center">
              <h2>Inscrit toi dans notre Offre Ballouchi</h2>
              <p>Vous allez recevoir un email sur l'adresse mail inscrit ci-dessous pour que vous puissiez s'inscrire dans notre offre ballouchi dans tous les matiéres </p>
            </div>
            <form class="js_from" action="#">
              <input type="text" placeholder="Enter your mail">
              <button class="thm_btn thm_btn-2">submit now<i class="fal fa-long-arrow-right"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="js_icon">
        <div class="left">
          <img src="../../assets/Template/img/icon/js_01.png" alt="">
        </div>
        <div class="right">
          <img src="../../assets/Template/img/icon/js_02.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
