  <!-- hero start -->
  <section class="hero_area">
    <div class="hero_wrap hero_height">
      <div class="container-fluid">
        <div class="row flex-row-reverse align-items-center">
          <div class="col-xl-7 col-lg-6 col-md-12">
            <div class="hero_img f-right">
             <ng-lottie width="600px" height="800px" [options]="options" ></ng-lottie>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-12">
            <div class="hero_content">
              <div class="icon">
                <img id='imghome' src="../../assets/Template/img/hero/hero_img.png" alt="">
              </div>
              <span># Learn Anything, Anytime, Anywhere</span>
                <h1 align="center" >{{"SLOGON" | translate}}</h1>
                <h1 align="center">{{"SLOGON1" | translate}}</h1>
                <h1 align="center">{{"SLOGON2" | translate}}</h1>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero end -->
  <app-counterarea></app-counterarea>
  <app-joinballouchi></app-joinballouchi>
  <app-owlcarousel></app-owlcarousel>
  <!-- blog start -->
  <section class="blog_area blog_top-space pt-190 pb-90">
    <div class="container">
      <div class="row align-items-center mb-15">
        <div class="col-lg-8 col-md-8">
          <div class="sec_title">
            <h2>Every single update from Elios Academy  becomes CLUBS</h2>
            <p>Elios Academy offers a new way to explore subjects you’re passionate about.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">

        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6">
          <div class="blog_single mb-30">
            <h3 class="title"><a href="#">Design</a></h3>
            <ul class="meta ul_li">
              <li><a href="#"><i class="fal fa-user"></i>Aloui safa</a></li>
            </ul>
            <div class="blog_thumb">
              <a href="#">
                <img src="../../assets/Template/img/blog/design.png" alt="">
              </a>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog_single mb-30">
            <h3 class="title"><a href="blog-details.html">Robotic</a></h3>
            <ul class="meta ul_li">
              <li><a href="#"><i class="fal fa-user"></i>Elyes laabidi</a></li>


            </ul>
            <div class="blog_thumb">
              <a href="blog-details.html">
                <img src="../../assets/Template/img/blog/robotics.png" alt="">
              </a>

            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog_single mb-30">
            <h3 class="title"><a href="blog-details.html">Mental Calculation</a></h3>
            <ul class="meta ul_li">
              <li><a href="#"><i class="fal fa-user"></i>Ones</a></li>


            </ul>
            <div class="blog_thumb">
              <a href="blog-details.html">
                <img src="../../assets/Template/img/blog/mentalcalculation.png" alt="">
              </a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- blog end -->


