<article class="blog_item format_audio">
  <div class="audio_thumb">
    <img src="assets/img/blog/feed/sound-bg.jpg" alt="">
  </div>
  <div class="post_content">
    <ul class="post_meta ul_li">
      <li><i class="fal fa-eye"></i> 100 Views</li>
      <li><a href="#"><i class="fal fa-comments"></i> Commnets (05)</a></li>
      <li><i class="fal fa-calendar-alt"></i> 25 Nov 2020</li>
    </ul>
    <h3 class="title"><a routerLink="blogdetails">Outdoor Work: a Designer’s Checklist for Every ui/ux Project.</a></h3>
    <p>Rerem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <div class="btn_wrap mt-20">
      <a class="r_btn" routerLink="blogdetails">Read more<i
        class="fal fa-angle-double-right"></i></a>
      <div class="blog_author_info ul_li">
        <div class="thumb">
          <img src="" alt="">
        </div>
        <div class="a_text">
          <a href="#"><i class="fal fa-user"></i>Admin</a>
          <h4><a href="#">Wasim Mia</a></h4>
        </div>
      </div>
    </div>
  </div>
</article>
