<section class="counter_area counter_padding" data-overlay="3" data-background="assets/img/bg/counter_bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="coun_wrap">
          <div class="coun_single">
            <div class="c_icon">
              <img src="../../assets/Template/img/icon/prof.png" alt="">
            </div>
            <div class="c_text">
              <h2>146<span>+</span></h2>
              <p>Award Winning</p>
            </div>
          </div>
          <div class="coun_single">
            <div class="c_icon">
              <img src="../../assets/Template/img/icon/loi.png" alt="">
            </div>
            <div class="c_text">
              <h2>28k<span>+</span></h2>
              <p>Total Student</p>
            </div>
          </div>
          <div class="coun_single">
            <div class="c_icon">
              <img src="../../assets/Template/img/icon/student.png" alt="">
            </div>
            <div class="c_text">
              <h2>138<span>+</span></h2>
              <p>Total instructors</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
