<!-- footer start -->
<footer class="footer_area footer_bg footer_space">
  <div class="container">
    <div class="footer_main">
      <div class="row">
        <div align="left" class="col-lg-4 col-md-6">
          <div class="footer_widget">
            <h3>About Elios Academy</h3>
            <div class="about_text">
              <p>اليوس أكاديمي هو مركز دروس خصوصية لجميع المواد من السنة الأولى ابتدائي للباك, نقريو عن بعد المواد الكل.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div align="left" class="footer_widget footer_link-left">
            <h3 >Categories</h3>
            <ul class="footer_link">
              <li><a href="#">Solo Offer</a></li>
              <li><a href="#">Basic Offer</a></li>
              <li><a href="#">Premium Offer</a></li>
            </ul>
          </div>
        </div>
        <div align="center" class="col-lg-3 col-md-6">
          <div class="footer_widget footer_link-right">
            <h3>Support</h3>
            <div class="social_icon mt-45">
              <a href="https://www.facebook.com/elioAcademie"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-behance"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer_widget footer_right_text">
            <h3>Get In Touch</h3>
            <ul>
              <li>
                <p>Douar Hicher 2086, La mannouba , Tunisie</p>
              </li>
              <li>
                <p>+216 53 266 867</p>

              </li>
              <li>
                <p>eliosacademie@gmail.com</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="left f-left ul_li">
        <div class="logo">
          <a href="index.html"><img src="../../assets/Template/img/logo/logo_white.png" alt=""></a>
        </div>
        <ul class="info ul_li">
          <li>eliosacademie@gmail.com</li>
          <li> 24/7</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->
